CLICKHOUSE_HOST=
CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_PORT=8443
CLICKHOUSE_SECURE=true
CLICKHOUSE_DATABASE=clickathon

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=https://us.cloud.langfuse.com
LANGFUSE_HOST=https://us.cloud.langfuse.com

LLM_PROVIDER=gemini
LLM_MODEL=gemini/gemini-flash-latest
LLM_TEMPERATURE=0
GEMINI_API_KEY=

CHDB_PATH=./chdb_data

CREWAI_TRACING_ENABLED=false
CREWAI_DISABLE_TELEMETRY=true
