# ClickHouse Cloud connection
# Endpoint format: clickhouse://<host>:9440?secure=true
CH_ENDPOINT=clickhouse://n2mhphnxil.eastus2.azure.clickhouse.cloud:9440?secure=true
CH_USER=default
CH_PASSWORD=your_password_here
CH_DATABASE=default
