# Copy this file to .env and fill in your ClickHouse Cloud service details.
# ---- ClickHouse Cloud ----
CLICKHOUSE_HOST=otp7qe0yz6.ap-south-1.aws.clickhouse.cloud 
CLICKHOUSE_PORT=8443
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD="c4L3S4e~ipWq_"
CLICKHOUSE_DATABASE=inmobi
CLICKHOUSE_SECURE=true

CLICKHOUSE_TABLE=ad_events_daily_agg
